body {
  background-color: black;
  overflow-x: hidden;
}

@font-face {
  font-family: "exocetlight";
  src: url("./assets/fonts/exl_____-webfont.woff2") format("woff2"),
    url("./assets/fonts/exl_____-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#desktop-header {
  background-image: url("./components/Header/LFGLogo.png");
  height: 928px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #828282;
  text-align: center;
  font-size: 30pt;
  font-family: exocetlight;
  /* padding-top: 20px; */
}

#intro {
  color: #828282;
  font-size: 20pt;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* padding-top: 29px; */
}

.main-buttons {
  width: 284px;
  height: 124px;
  border-color: #940005;
  background-image: radial-gradient(#9f9a9a, #3a3535);
  color: #d3f87c;
  font-family: exocetlight;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

/* Buttons on home screen */

#create-button {
  position: absolute;
  left: 626px;
}

#search-button {
  position: absolute;
  right: 626px;
}

/* Create Window */

#create-window {
  width: 932px;
  height: 723px;
}

.create-header {
  font-family: exocetlight;
  font-size: 30px;
  font-weight: 700;
}
