.create-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  color: #d3f87c;
  font-family: exocetlight;
  border: 5px red;

  display: flex;
  justify-content: center;
  align-items: center;
}

.create-popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 932px;
  max-height: 723px;
  background-color: black;
  border: 3px solid red;
}

.close-btn {
  position: relative;
  left: 880px;
  color: #d3f87c;
  font-family: exocetlight;
  font-size: 30px;
  font-weight: 700;
  width: 39px;
  height: 39px;
  background-image: radial-gradient(#c50007, #630004);
  border: 10px rgb(233, 130, 130);
}

.input-title {
  color: #d3f87c;
  font-family: exocetlight;
  font-size: 30px;
  font-weight: 600;
  border: 3px solid red;
  width: 350px;
  padding: 0px;
}

.standard-input-field {
  background-image: radial-gradient(#b8b8b8, 828282);
  width: 287px;
  height: 51px;
  padding: 0px;
  border: 3px solid red;
}

.right-title {
  position: relative;
  left: 320px;
  bottom: 225px;
}

.bottom-inputs-titles {
  position: relative;
  bottom: 150px;
}

#your-name-position {
  position: relative;
  bottom: 69px;
}

#your-name-input {
  position: relative;
  bottom: 85px;
}

#group-title-position {
  bottom: 225px;
}

#group-title-input {
  position: relative;
  bottom: 241px;
}

#your-class-position {
  position: relative;
  bottom: 256px;
}

#your-class-input {
  position: relative;
  bottom: 272px;
}

#difficulty-position {
  bottom: 406px;
}

#difficulty-input {
  position: relative;
  bottom: 422px;
}

#activity-position {
  bottom: 593px;
}

#activity-input {
  position: relative;
  bottom: 609px;
}

#level-position {
  bottom: 437px;
}

#level-input {
  position: relative;
  bottom: 453px;
}

#description-position {
  position: relative;
  bottom: 623px;
}

#description-input-box {
  position: relative;
  width: 845px;
  height: 175px;
  bottom: 639px;
}

#group-platform-position {
  position: relative;
  bottom: 653px;
}

#group-platform-input {
  position: relative;
  bottom: 669px;
  left: 70px;
}

.square-box-input {
  height: 51px;
  width: 51px;
}
